body {
  font-family: 'Montserrat Alternates', sans-serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: #00B4D8;
  font-family: 'Bad Script', cursive;
  font-size: 3.5rem;
  font-weight: 600;
  margin: 0;
  text-shadow: 0 0 2px #5800FF;
}

h2 {
  color: #00B4D8;
  font-family: 'Bad Script', cursive;
  font-size: 3rem;
  font-weight: 600;
  margin: 0 auto;
  text-shadow: 0 0 10px #5800FF;
}

h3 {
  color: #90E0EF;
  font-family: 'Bad Script', cursive;
  font-size: 3rem;
  font-weight: 600;
  margin: 0;
}

a {
  font-family: 'Marck Script', cursive;
}

p {
  font-size: 2rem;
}

.top-container {
  background-image: url("Images/hristomariyazima.jpg");
  background-color: #DDDDDD;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45rem;
  position: relative;
}

.middle-container-1 {
  background-color: #DDDDDD;
}

.middle-container-2 {
  background-image: url("E:Images/family.jpg");
  background-color: #DDDDDD;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 39rem;
  position: relative;
}

.middle-container-3 {
  position: relative;
}

.together {
  bottom: 5px;
  color: #5800FF;
  font-family: 'Bad Script', cursive;
  font-size: 2.9rem;
  font-weight: 600;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  text-shadow: 0 0 5px #90E0EF;
}

.family {
  width: 80%;
}

.background-hristo-mariya {
  background-image: url('Images/family1.jpg');
  background-color: #DDDDDD;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45rem;
  position: relative;
  opacity: 0.6;
}

.hristo-name {
  font-size: 2.5rem;
  color: #105652;
  position: absolute;
  left: 520px;
  top: 20px;
  text-decoration: none;
  text-shadow: 0 0 20px white;
}

.hristo-name:hover {
  color: #CCF62C;
  text-shadow: 0 0 20px black;
}

.hristo-night {
  border: 2px solid #90E0EF;
  border-radius: 100%;
  height: 300px;
  position: absolute;
  left: 500px;
  top: 30px;
}

.hristo-description {
  color: #90E0EF;
  left: 830px;
  line-height: 1.2;
  position: absolute;
  top: 40px;
  width: 28rem;
  text-align: left;
  text-shadow: 0 0 10px black;
}

.mariya-name {
  font-size: 2.5rem;
  color: #AA14F0;
  position: absolute;
  left: 940px;
  top: 5px;
  text-decoration: none;
  text-shadow: 0 0 20px white;
}

.mariya-name:hover {
  color: #FFD7E9;
  text-shadow: 0 0 20px black;
}

.mariya-outside {
  border: 2px solid #7027A0;
  border-radius: 100%;
  height: 300px;
  position: absolute;
  left: 500px;
  top: 20px;
}

.mariya-description {
  color: #7027A0;
  left: 810px;
  line-height: 1.2;
  position: absolute;
  top: 5px;
  width: 30rem;
  text-align: left;
  text-shadow: 0 0 10px #90E0EF;
}

.background-aleksandar-daniel {
  background-image: url('Images/family2.jpg');
  background-color: #DDDDDD;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45rem;
  position: relative;
  opacity: 0.6;
}

.aleksandar-name {
  font-size: 2.3rem;
  color: #105652;
  position: absolute;
  left: 560px;
  top: 170px;
  text-decoration: none;
  text-shadow: 0 0 20px white;
}

.aleksandar-name:hover {
  color: #CCF62C;
  text-shadow: 0 0 20px black;
}

.aleks-veranda {
  border: 2px solid #14C38E;
  border-radius: 100%;
  height: 300px;
  position: absolute;
  left: 50px;
  top: 20px;
}

.aleksandar-description {
  color: #480032;
  left: 400px;
  line-height: 1.2;
  position: absolute;
  top: 5px;
  width: 30rem;
  text-align: left;
  text-shadow: 0 0 10px #14C38E;
}

.daniel-name {
  font-size: 2.3rem;
  color: #AA14F0;
  position: absolute;
  left: 990px;
  top: 100px;
  text-decoration: none;
  text-shadow: 0 0 20px white;
}

.daniel-name:hover {
  color: #FFD7E9;
  text-shadow: 0 0 20px black;
}

.daniel-gradina {
  border: 2px solid #14C38E;
  border-radius: 100%;
  height: 300px;
  position: absolute;
  left: 50px;
  top: 20px;
}

.daniel-description {
  color: #480032;
  left: 400px;
  line-height: 1.2;
  position: absolute;
  top: 5px;
  width: 32rem;
  text-align: left;
  text-shadow: 0 0 10px #14C38E;
}

.go-back {
  color: #AA14F0;
  position: absolute;
  right: 50px;
  top: 10px;
  height: 50px;
  width: 50px;
  text-decoration: none;
}

.go-back:hover {
  color: #14C38E;
}
